body{
    margin:0;
    padding:0;
    border:0;
}

/*
    通用样式
*/
.left {
    float: left;
}
.right {
    float: right;
}

.container {
    display: block;
    width: 100%;
    height: 55px;
    *text-align: center;
}

/*!**/
    /*导航*/
/**!*/
.navigation {
    width: 1170px;
    height: 55px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;

}
.navigation h3 i {
    display: inline-block;
    width: 31px;
    height: 31px;
    background: url("../img/sprit.png") no-repeat 0 -46px;
    margin: 0 10px -7px 0;
}
.navigation h3 {
    font: normal 21px/55px "黑体";
    margin: 0;
}
.navigation .nav_bar {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation .nav_bar li {
    float: left;
    height: 50px;
    width: 65px;
    text-align: center;
    /*cursor: pointer;*/
    margin-right: 20px;
}
.navigation .nav_bar li a {
    text-decoration: none;
    font: normal 14px/55px "微软雅黑";
    color: rgb(158, 159, 163);
}
.navigation .nav_bar li:hover {
    border-bottom: 5px solid rgb(190,78,72);
}
.navigation .nav_bar li:hover a {
    color:rgb(190,78,72);
}
.navigation .nav_bar i{
    display: inline-block;
    width: 16px;
    height:20px;
    overflow: hidden;
    background:url("../img/sprit.png") no-repeat -40px -60px;
    margin:0 5px -5px 0;
}
/*兼容*/
.navigation .nav_bar >li+li+li+li+li+li {
margin: 0;
}
.navigation .nav_bar >li+li+li+li+li+li a {
color:rgb(190,78,72);
}
.navigation .nav_bar >li+li+li+li+li+li:hover {
border: none;
}
.bg_img {
width: 100%;
height: 854px;
background-color: #fff;
*text-align: center;
}
.bg_img .img_father {
width: 1280px;
margin: 0 auto;
height: 100%;
position: relative;
}
.bg_img img {
display: block;
width: 1280px;
margin: 0 auto;
height: 100%;

}
.bg_img .bg_btn{
    width:330px;
    height:46px;
    background-color:rgb(190,78,72);
    color:white;
    top:434px;
    left:125px;
    position: absolute;
    font: 30px "微软雅黑";
    text-decoration:none;
    text-align: center;
    padding:10px 0;
}
.bg_foot{
    width:1200px;
    height:300px;
    margin:25px auto;
}
.bg_foot li{
    list-style: none;
    float: left;
    width:140px;
    height:20px;
    border-left:2px solid rgb(170,170,170);
    font:12px "微软雅黑" ;
    color:rgb(120,120,120);
    text-align: center;
    margin-top:100px;
    padding:15px 70px;
}
.bg_foot .first_child{
    border:none;
}
.bg_foot li i{
    background: url("../img/sprit.png") no-repeat;
    width:44px;
    height:44px;
    display: block;
    overflow: hidden;
    margin:-100px 48px 0 48px;
}
.bg_foot li+li i{
    background: url("../img/sprit.png") no-repeat -44px 0;
}
.bg_foot li+li+li i{
    background: url("../img/sprit.png") no-repeat -84px 0;
}
.bg_foot li+li+li+li i{
    background: url("../img/sprit.png") no-repeat -128px 0;
}
.mid_text{
    width: 100%;
    height:350px;
    background-color:rgb(236,236,236);
    display: block;
    margin: 250px 0 0;
    padding-top:50px;
    text-align: center;
    font:52px "微软雅黑";
    color:gray;
}

.mid_text i{
    width:100px;
    height:100px;
    background:url(../img/sprit.png) no-repeat 0 -85px ;
    display: block;
    margin: 5px auto;

}
.mid_img{
    width: 1280px;
    height:340px;
    margin:0 auto;
    position: relative;


}
.mid_img .mid_form{
    top:0;
    left:0;
    position:absolute;
    float: left;
    width:1110px;
    height:40px;
    background-color: rgba(190,78,72,.1) ;
    padding:150px 85px;
}
.mid_img .mid_form .city_list{
    list-style: none;
    float:left;
}
.mid_img .mid_form .city_list span{
    display: block;
    background-color: white;
    width:235px;
    height:27px;
    border:solid 1px  rgb(190,78,72);
    padding:8px 0 0 5px;
    color:gray;
    margin-right:22px;

}
.mid_img .mid_form .city_list span i{
    width:20px;
    height:25px;
    background: url("../img/sprit.png") no-repeat -148px -148px;
    display: inline-block;
    margin:-6px 0;
    float: right;
}
.mid_img .mid_form .city_list .form_list{
    height:180px;
    width:240px;
    background-color:rgb(236,236,236);
    padding:0;
    list-style:none;
    display: none;
}
.mid_img .mid_form .city_list:hover .form_list{
    display: block;
}
.mid_img .mid_form .city_list .form_list li{
    font: 16px "微软雅黑";
    color:rgb(50,50,50);

}
.mid_img .mid_form .city_list .form_list li i{
    width:20px;
    height:25px;
    display: inline-block;
}
.mid_img .mid_form .city_list .form_list li:hover{
background-color: rgb(190,78,72);
    padding-bottom:7px;
    height:22px;
}
.mid_img .mid_form .city_list .form_list li:hover i{
    width:20px;
    height:25px;
    background: url("../img/sprit.png") no-repeat -148px -148px;
    display: inline-block;
    color:white;
}
.mid_img .mid_form .submit{
    width:240px;
    height:40px;
    background-color:rgb(190,78,72);
    border:solid 1px rgb(190,78,72);
    font: 16px "微软雅黑";
    color:white;

}
.mid_action {
    width: 1080px;
    height: 390px;
    margin:80px auto;

}

.action{
    width:230px;
    height:390px;
    float: left;
    margin:0 20px;

    text-align: center;
    /*background-color: silver;*/

}
.action h3{
    font:12px "微软雅黑";
}
.action p{
    font:8px "微软雅黑";
    color:gray;
}
.action .action_img{
    height:305px;
    width:230px;
    border:1px solid silver;
}
.action i{
    height:305px;
    width:200px;
    display: block;
    margin:0 auto;

}
.action_one i{
    background:url(../img/mission7_avtivity.png) no-repeat -13px -13px;
}
.action_two i{
    background:url(../img/mission7_avtivity.png) no-repeat -13px -336px;
}
.action_three i{
    background:url(../img/mission7_avtivity.png) no-repeat -13px -656px;
}
.action_four i{
    background:url(../img/mission7_avtivity.png) no-repeat -13px -976px;
}
.new_world{
    width:1280px;
    height:570px;
    margin:0 auto;
}
.new_text{
    height:270px;
    width:290px;
    padding:150px 65px;
    float:right;
}
.new_text h3{
    font:20px "黑体";
    text-align: center;;
}
.new_text h3 span{
    color:rgb(190,78,72);
}
.new_text p{
    font:12px "黑体";
    color:gray;
}
.new_text .detail{
    width:106px;
    height:16px;
    color:rgb(190,78,72);
    border:1px solid rgb(190,78,72);
    margin:45px auto 0;
    padding:10px 0;
    text-align: center;
    font:14px "黑体";
}
.new_text .detail:hover{
    background-color:rgb(190,78,72) ;
    color:white;
}
.new_text ul{
    margin:0 0 0 110px ;
}
.new_text li{
    float:left;
    margin-right: 10px;
    font-size: 36px;
    color:gray;
}
.new_text li+li{
    list-style: circle;
}
/*新时代*/
.new_time{
    height:523px;
    width:1280px;
    margin:0 auto;

}
.new_time .times{
    height:343px;
    width:425px;
    float: left;
    font:20px "黑体";
    text-align: center;
    padding-top:180px ;
}
.new_time .time_one hr{
    width:30px;
    height: 2px;
    background-color:white;
    border:none;
}
.new_time .time_two hr{
    width:30px;
    height: 2px;
    background-color:#E74F4D;
    border:none;


}
.new_time .time_one{
    color:white;
    background-color: #E74F4D;
}
.new_time .time_two{
    color:#E74F4D;
    background-color:white ;
}
.new_time .times .more_one{
    width: 127px;
    height:21px;
    margin:20px auto;
    padding: 13px 0;
    border:1px solid white;
}.new_time .times .more_two{
     width: 127px;
     height:21px;
     margin:20px auto;
     padding: 13px 0;
    border:1px solid rgb(190,78,72);
}
.new_time .times .more_one:hover{
    color:#E74F4D;
    background-color:white
}
.new_time .times .more_two:hover{
    color:white;
    background-color: #E74F4D;
}
.volunteer{
    width: 1280px;
    height: 750px;
    margin:0 auto;
}
.volunteer .become_volunteer{
    height: 100px;
    width: 425px;
    margin:100px auto;
    text-align:center;
}
.volunteer .become_volunteer h4{
    font:20px "黑体";
}
.volunteer .become_volunteer hr{
    width:30px;
    height: 2px;
    background-color:#E74F4D;
    border:none;
}
.volunteer .become_volunteer p{
    font:12px "黑体";
    color:gray;
}
.volunteer_information{
    width: 1280px;
    height: 460px;
}
.volunteer_information .volunteer_protocol{
    height: 460px;
    width: 330px;
    margin-left:130px;
    float:left;
}
.volunteer_information .volunteer_protocol .protocol{
height:100px;
}
.volunteer_information .volunteer_protocol h4{
    font:16px "黑体";
    color:gray;
}
.volunteer_information .volunteer_protocol p{
    font:12px "黑体";
    color:darkgrey;
}
.volunteer_information .volunteer_protocol span{
    font:12px "黑体";
    float:right;
}
.volunteer_information .volunteer_protocol .protocol i{
    display:inline-block;
    width: 20px;
    height: 10px;
    margin-bottom: -5px;
    background:url(../img/sprit.png) no-repeat -126px -168px;
}
.volunteer_information .information_form{
    margin-left: 50px;
    width: 630px;
    height: 450px;
    /*display: block;*/
    float:left;
    font: 14px "黑体";
    color:gray;
}
.volunteer_information .information_form .form_input{
    width: 310px;
    height:40px;
    padding-left:15px;
    margin-top:20px;
    background-color:rgb(237,237,237);
}
.volunteer_information .information_form input{
    border:none;
    background-color: rgb(237,237,237);
    width: 260px;
    height:38px;
}
.volunteer_information .information_form .input_short{
    width: 230px;
}
.volunteer_information .information_form input:focus{
    outline:none;
}
.volunteer_information .information_form textarea{
    margin-top: 20px;
    border:none;
    background-color: rgb(237,237,237);
}
.volunteer_information .information_form textarea:focus{
    outline:none;
}
.volunteer_information .information_form .submit{
    margin-top:10px ;
    width:660px;
}
.footer{
    width:100%;
    height:360px;
    background-color: rgb(53,53,62);
    text-align:center;
    position: relative;
}
.footer .contact_text{
    padding-top:50px;
    margin:0 auto;
    padding-right: auto;
    height:130px;
    width:470px;
    color:white;
}
.footer .contact_text h3{
    font: 20px "黑体";
}
.footer .contact_text p{
    font: 12px "黑体";
}
.footer .email{
    width:432px;
    height: 38px;
    border: none;

}
.footer .submit{
    width:81px;
    height: 42px;
    margin-left: -5px;
    border: none;
    color:white;
    background-color: rgb(111,113,120);
}
.footer .contact_way{
    width:500px;
    height:60px;
    margin:20px auto;

}

.footer .contact_way i{
    display:inline-block;
    margin:20px 10px;
    width:30px;
    height:25px;
background:url(../img/sprit.png) no-repeat -135px -98px ;
}
.footer .contact_way i+i{
background:url(../img/sprit.png) no-repeat -135px -72px ;
}
.footer .contact_way i+i+i{
    background:url(../img/sprit.png) no-repeat -135px -46px ;
}
.footer .contact_way i+i+i+i{
    background:url(../img/sprit.png) no-repeat -135px -122px ;
}
.footer_bottom{
    width:100%;
    height:80px;
    background-color:rgb(48,57,57);
}
.footer_bottom ul{
    margin:0;
    padding: 30px 20px ;
    font: 12px "黑体";
    list-style:none;
    color:white;
}
.footer_bottom ul a{
    text-decoration: none;
    color:white;
}
