*{
    margin:0 0;
    padding:0 0;
}
/*.clearfix:after{*/
    /*content: ".";overflow: hidden;height: 0;display: block;clear: both;*/
/*zoom: 1;*/
/*}*/
.warp{
    width:980px;
    height:1336px;
    margin:0 auto;
    background-color:white;
}
.main{
    width:892px;
    height:100%;
    margin:0 auto;
}
.header{
    height:60px;
    width:892px;
    border-bottom:2px rgb(147,142,140) solid;
    overflow: auto;
}
.header .logo{
    height:58px;
    width:110px;
    background-color:#d45d5c;
    color:white;
    float: left;
    font:12px "黑体";
}
.header .logo p{
    margin-top: 45px;
}
.header .nav{
    height:58px;
    width:782px;
    float: right;
}
.nav p{
    font:12px "黑体";
    color: #d45d5c;
    text-align:right;
    margin-top: 45px;
 }
.banner{
    position: relative;
    margin-top:30px;
    float:left;
    width: 641px;
    height: 301px;
}
.leftColor{
    position:absolute;
    top:0;
    left:0;
    width:190px;
    height:300px;
    background-color:rgba(0,255,0,.5);
}
.rightColor{
    position:absolute;
    top:0;
    right:0;
    width:190px;
    height:300px;
    background-color:rgba(255,0,0,.5);
}
.bannerInformation{
    margin:30px 0 0 50px;
    float:right;
    width:201px;
    height:291px;
    padding-top:10px;
    border-top:solid 2px rgb(204,128,145);
}
.bannerInformation .caption{
    font:24px "微软雅黑";
    text-decoration:underline;
    margin-bottom:10px;
    color:#000000;
}
.bannerInformation .technologe {
    font: 12px "楷体";
    color: #676767;
}
.bannerInformation .date{
    font:italic 116px "微软雅黑";
    color:#75b86b;
    margin-top:-10px;
    margin-left: -18px;
}
.bannerInformation .num{
    font:55px "微软雅黑";
    color:rgb(204,128,145);
    margin-top: -15px;
    float:left;
}
.bannerInformation h4{
    float:right;
    font: 12px "微软雅黑";
    color: #CC8091;
    margin-top:-13px;
    margin-right:35px;
}
h4 span{
    display:inline-block;
    font: 21px "微软雅黑";
    color: #cc8091;
    margin-top:10px;

}

.firstArticle{
    float: left;
    width:200px;
    height:150px;
    margin:10px 5px;
}
.secondArticle{
    float: left;
    width:200px;
    height:150px;
    margin:10px 5px;
}
.threeArticle{
    float: left;
    width:200px;
    height:150px;
    margin:10px 5px;
}
.firstArticle h2{
    font-size: 24px ;
    text-decoration:underline;
    margin-bottom:10px;
    color:rgb(65,140,89);
}
.secondArticle h2{
    font-size: 24px ;
    text-decoration:underline;
    margin-bottom:10px;
    color:rgb(210,150,80);
}
.threeArticle h2{
    font-size: 24px ;
    text-decoration:underline;
    margin-bottom:10px;
    color: #CC8091;
}
.firstArticle p{
    font-size: 12px ;
    color:gray;
}
.secondArticle p{
    font-size: 12px ;
    color:black;
}
.threeArticle p{
    font-size: 12px ;
    color:black;
}
.threeArticle li{
list-style: none;
}
.threeArticle li span{
    color:rgb(210,150,80);
}
.fourArticle{
    width:420px;
    height:700px;
    float:left;
}
.fourArticle h1{
    font: bold 42px "黑体";
    color: #11456b;
    line-height: 16px;
}
.fourArticle h1 span{
    font: italic bold 72px "黑体";
    color: #f5e327;
}
.fourArticle h2{
    font: bold 32px "黑体";
    color: #11456b;
    margin-top:20px;
    width:410px;
    border-bottom: 2px solid #11456b;
}
.fourArticle img{
    float: right;
    margin:20px 0 20px 20px;
}
.photo{
    float:right;
    width:460px;
    height:250px;
}
.fourArticle p{
    font: 12px "宋体";
    color: #767777;
}
.fourArticle p.one{
    margin-top: 20px ;
}
.fourArticle .one~p{
    text-indent: 2em;
}
.fourArticle .one:first-letter{
    margin-top: -10px;
    display: inline-block;
    float: left;
    font: 70px "微软雅黑";
    color:#f5e327
}
.photo{
    width: 458px;
    height: 257px;
    margin-top: 20px;
    float: right;
    position: relative;
}
.cover{
    color: #FFFFFF;
    width: 458px;
    height: 61px;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    z-index: 1;
}
.font{
    height: 44px;
    margin-left: 30px;
    border-left: 3px solid #72b16a;
    margin-top: 10px;
    padding-left: 10px;
    line-height: 44px;
}
.font p{
    font: 26px "微软雅黑";
    color: #ffffff;
}
.font p span{
    color: #72b16a;
    margin-left: 10px;
    display: inline-block;
    font: italic 12px "微软雅黑";
    word-spacing: 140%;
}
.other{
    float: right;
    width:460px;
    height:280px;
    background-color:rgb(255,230,180);
    margin-top:30px;
    position: relative;
}
.other ul{
    margin:30px 0 30px 30px;
    list-style: none;
}
.other .biao{
    width:280px;
    height:160px;
    background-color: rgb(255,100,0);
    position: absolute;
    left: 0;
    bottom: 0;
    color:white;
}
.other .biao h1{
    height: 86px;
    font:110px "微软雅黑";
    margin-top:5px;
    margin-left:10px;
    float: left;

}
.other .biao p{
    margin:30px 14px 0 0;
    padding-left:5px;
    width:180px;
    height:100px;
    border-left:solid 2px white;
    font:12px "黑体";
    display:inline-block;
    float: right;
}
.other .biao p span{
    font-size:24px;
}

.other .cite{
    width:170px;
    height:160px;
    position: absolute;
    right: 5px;
    bottom: 0;
    font: italic 14px "宋体";
    line-height: 20px;
    color: #5a5a5b;
    text-align: justify;

}
.other .cite span {
    color: #CC8091;
    font: normal 32px "黑体";
}

.footer {
    width: 892px;
    height: 10px;
    border-top: 1px solid #938e8c;
    clear: both;
    position: relative;
    text-align: right;
    font: 12px  "黑体" ;
    color:#d45d5c;
}

